.ModalPopup {
  position: relative;
  width: 240px;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(25vh);
  background: #fff;
  padding: 24px;
  border: 1px solid #000;
  overflow: auto;
}