.Note {
  position: absolute;
  border: 1px dashed gray;
  padding: 0.5rem 1rem;
  cursor: move;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
}

.Note[data-owned="true"] {
  border: 2px solid #000;
}

.Note .text-center {
  text-align: center;
}

.Note .NoteContent {
  flex-grow: 1;
}